.fullpage-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 100px;
}

.fullpage-slide:nth-child(1) {
  background-color: darkturquoise;
}

.fullpage-slide:nth-child(2) {
  background-color: lightcoral;
}

.fullpage-slide:nth-child(3) {
  background-color: mediumaquamarine;
}

.fullpage-slide__number {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 0 0 0 4px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
}